.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid pink;
    border-radius: 53px;
}

.description,
.stats {
    text-align: center;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    border-top: 2px solid pink;
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
